@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins';
}
body{
    background-color: #fff;;
}
nav {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav h6 {
    float: right;
    margin-top: 25px;
    font-weight: 600;
}
.content-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;  
}
.container-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-1 header{
    font-size: 35px;
    font-weight: 600;
    margin:0 0 30px 0;
}
.container-1 .form-outer{
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}
.form-outer form{
    display: flex;
    width: 400%;
    /* height: 180vh; */
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
    padding:0 20px;
}
.form-outer form .page .title{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}
.form-outer form .page .field{
height: 45px;
/* width: 330px; */
margin: 45px 0;
position: relative;
display: flex;
}
.form-outer form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid rgba(98, 125, 146, 0.20);
    padding-left: 20px;
   border-radius: 8px;
}
input[type="file"] {
    padding-top: 6px !important;
    
}
.form-outer form .page .lable{
       position: absolute;
       top: -30px;
       font-weight: 700;
       font-size: 15px;
}
.form-outer form .page .field button{
    height: calc(100% + 5px);
    width: 100%;
    border: none;
    background-color: #05cab6;
    color: white;
    font-size: 15px;
    font-weight: 500px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
   
}
.form-outer form .page .field button:hover{
    background-color: black;
}
form .page .btns button.prev{
    margin-right: 5px;
    font-size: 17px;
}
form .page .btns button.next{
    margin-left: 5px;
    font-size: 17px;
}
.container-1 .progress-bar-1{
    display: flex;
    margin: 40px 0;
    width: 336px;
}
.container-1 .progress-bar-1 .step{
   text-align: center;
   width: 100%;
   position: relative;
}
.container-1 .progress-bar-1 .step p{
font-size: 18px;
font-weight: 600;
color: black;
margin-bottom: 8px;
transition: 0.2s;
 }
 .container-1 .progress-bar-1 .step p.active{
    color: #05cab6 !important;
     }
 .progress-bar-1 .step .bullet{
   height: 25px;
   width: 25px;
   border: 1px solid #c1c1c1;
   display: inline-block;
   border-radius: 50%;
   font-weight: 600;
   font-size: 17px;
   line-height: 25px;
   position: relative;
   transition: 0.2s;
 }
 .progress-bar-1 .step .bullet span{
     font-weight: 600;
     font-size: 17px;
     line-height: 25px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }
 .progress-bar-1 .step .bullet.active span{
     display: none;
 }
 .progress-bar-1 .step .check{
     position: absolute;
     left: 50%;
     top: 70%;
     transform: translate(-50%, -50%);
     display: none;
 }
 .progress-bar-1 .step .check.active{
     display: block;
     color: #fff;
 }
 .progress-bar-1 .step .bullet:before,
 .progress-bar-1 .step .bullet:after
 {
     position:absolute;
     content: '';
     height: 3px;
     width: 43px;
     bottom: 11px;
     right: -51px;
     background: gray
 }
 .progress-bar-1 .step:last-child .bullet:before,
 .progress-bar-1 .step:last-child .bullet:after{
     display: none;
 }
 .progress-bar-1 .step .bullet.active{
     border-color: #05cab6;
     background-color:#05cab6 ;
     color: #fff;
 }
 .progress-bar-1 .step .bullet.active:after{
     background: #05cab6;
     transform: scaleX(0);
     transform-origin: left;
     animation: animate 0.3s linear forwards;
 }
 article {
    position: relative;
    width: 100%;;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 3px 12px 0 rgb(220 231 238 / 04%);
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #05CAB600;
  }
  
  article div {
    width: 100%;
    height: 100%;
    line-height: 25px;
    transition: .5s ease;
  }

  article div i {
    font-size: 28px;
    opacity: 0.7;
    display: block !important;
  }

  article div h5 {
    display: block;
    color: var(--font-prim);
  }

  article div p {
    opacity: 0.88;
    margin: 0;
    color: var(--font-prim);
  }

  article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
.features{
    margin-top: 50px;
}
 
@keyframes animate{
100%{
    transform: scaleX(1);
}
}

  @media screen and (max-width: 900px) {
    .container-1 .form-outer{
        width: unset;
        margin: 0 auto;
        overflow: hidden;
    }
    .plans .plan-item  div p {
        font-size: 14px;
     }
     .logo{
      flex-direction: column;
    }
  }
  @media screen and (max-width: 500px) {
    .container-1 .form-outer{
        width: 330px;
        margin: 0 auto;
        overflow: hidden;
    }
  }

  :root {
    --main--color: #05CAB6;
    --font-prim: #0F0F0F;
    --font-sec: #627D92;
}
.plans .plan-item {
    background-color: #fff;
    box-shadow: 1px 3px 12px 0 rgb(220 231 238 / 50%);
    border-radius: 18px;
}

.plans .plan-item h6 {
    color: var(--font-sec);
}

.plans .plan-item h1 {
   font-size: 74px !important;
   display: inline;
}

.plans .plan-item  div p {
    font-size: 1em;
    color: #6c757d;
    margin-left: 10px;
    display: inline;
 }
.plans .plan-item h5 {
    color: var(--font-sec);
}
label {
    font-size: 15px;
    color: var(--font-prim);
    font-weight: 500;
    margin-bottom: 10px;
}
input[type="file"] {
    width: 100%;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid rgba(98, 125, 146, 0.20);
}

::placeholder {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: rgba(98, 125, 146, 60%);
}
.prim-color {
    color: var(--main--color);
}

article {
    position: relative;
    width: 100%;;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 3px 12px 0 rgb(220 231 238 / 04%);
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #05CAB600;
  }
  
  article div {
    width: 100%;
    height: 100%;
    line-height: 25px;
    transition: .5s ease;
  }

  article div i {
    font-size: 28px;
    opacity: 0.7;
    display: block !important;
  }

  article div h5 {
    display: block;
    color: var(--font-prim);
  }

  article div p {
    opacity: 0.88;
    margin: 0;
    color: var(--font-prim);
  }

  article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
 
  .res-icons img {
      display: inline-block;
      width: 23px;  
      height: auto;
      margin-left: 11px;
  }
/* Step 1 */
.plan-item {
    position: relative;
}
.plan-item hr {
    opacity: 0.08;
}

.plan-item h6.dis {
    font-size: 13px;
    position: absolute;
    background-color: orange;
    padding: 9px 15px;
    border-radius: 11px;
    color: #fff;
    top: -6px;
    right: -6px;
}
.plan-item .mycontainer {
    width: 64%;
    margin-left: 18%;
    margin-top: 8px;
}

.plan-item .mycontainer a.btn {
    border: solid 2px var(--main--color);
    color: var(--main--color);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.5s;
}

.plan-item .mycontainer a.btn.fill {
    border: solid 2px var(--main--color);
    background-color: var(--main--color);
    color: #fff !important;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.5s;
}

.plan-item .mycontainer a.btn:hover {
    background-color: var(--main--color);
    color: #fff !important;
}

.plan-item .mycontainer a.btn:hover span i {
    color: #fff !important;
}

.plan-item .mycontainer a.btn.fill span i {
    color: #fff !important;
}
  nav {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav h6 {
    float: right;
    margin-top: 25px;
}
.template-item .image img {
    object-position: contain;
}

.template-item .image {
    width: 100%;
}

.template-item .image img {
    display: block;
    width: 100%;
}
.template-item .image img {
    display: block;
    width: 100%;
}
.template-item h5 {
    font-size: 18px;
}

.template-item img {
    height: 360px;
    width: 100%;
    border-radius: 8px;
}

.template-item div {
    float: right;
}

.template-item div i {
    font-size: 23px ;
}
ul.nav li.nav-item button.nav-link {
    color: var(--font-prim);
}
ul.nav li.nav-item button.nav-link.active {
    background-color: var(--main--color) !important;
    color: #fff;
    border-radius: 6px;
}
.res-icons img {
    display: inline-block;
    width: 23px;  
    height: auto;
    margin-left: 11px;
}
ul.nav li.nav-item button.nav-link {
    color: #0f0f0f;
}
ul.nav li.nav-item button.nav-link.active {
    background-color: #05CAB6 !important;
    color: #fff;
    border-radius: 6px;
}
