@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins';
}
body{
    background-color: #fff;;
}
nav {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav h6 {
    float: right;
    margin-top: 25px;
    font-weight: 600;
}
.content-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;  
}
.container-1{
    width: 330px;
}
.container-1 header{
    font-size: 35px;
    font-weight: 600;
    margin:0 0 30px 0;
}
.container-1 .form-outer{
    width: 100%;
    overflow: hidden;
}
.form-outer form{
    display: flex;
    width: 400%;
}
.form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}
.form-outer form .page .field{
height: 45px;
width: 330px;
margin: 45px 0;
position: relative;
display: flex;
}
.form-outer form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid rgba(98, 125, 146, 0.20);
    padding-left: 20px;
   border-radius: 8px;
}
input[type="file"] {
    padding-top: 6px !important;
    
}
.form-outer form .page .lable{
       position: absolute;
       top: -30px;
       font-weight: 700;
       font-size: 15px;
}
.form-outer form .page .field button{
    height: calc(100% + 5px);
    width: 100%;
    border: none;
    background-color: #05cab6;
    color: white;
    font-size: 15px;
    font-weight: 500px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
   
}
.form-outer form .page .field button:hover{
    background-color: black;
}
.container-1 .progress-bar-1{
    display: flex;
    margin: 40px 0;
}
.container-1 .progress-bar-1 .step{
   text-align: center;
   width: 100%;
   position: relative;
}
.container-1 .progress-bar-1 .step p{
font-size: 18px;
font-weight: 600;
color: black;
margin-bottom: 8px;
 }
 .progress-bar-1 .step .bullet{
   height: 25px;
   width: 25px;
   border: 1px solid #05cab6;
   display: inline-block;
   border-radius: 50%;
   font-weight: 600;
   font-size: 17px;
   line-height: 25px;
   position: relative;
 }
 .progress-bar-1 .step span{
     font-weight: 600;
     font-size: 17px;
     line-height: 25px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }
 .progress-bar-1 .step .check{
     position: absolute;
     left: 50%;
     top: 70%;
     transform: translate(-50%, -50%);
     display: none;
 }
 .progress-bar-1 .step .bullet:before,
 .progress-bar-1 .step .bullet:after
 {
     position:absolute;
     content: '';
     height: 3px;
     width: 43px;
     bottom: 11px;
     right: -51px;
     width: 44px;
     background: gray
 }
 .progress-bar-1 .step:last-child .bullet:before,
 .progress-bar-1 .step:last-child .bullet:after{
     display: none;
 }
 .progress-bar-1 .step .bullet:after{
     background: #05cab6;
     transform: scaleX(0);
     transform-origin: left;
     animation: animate 0.3s linear forwards;
 }
@keyframes animate{
100%{
    transform: scaleX(1);
}
}
 